---
import { Icon } from "astro-icon";
import userData from '../../../public/User/userData.json';
---
<section class="header">
    <div class="header-image">
        <img src={userData.imageCoverPath}>
    </div>
    <div class="header-description">
        <h2>Hola! mi nombre es <br> <span class="text-gradient">{userData.name}</span></h2>
        <p>{userData.bibliography}</p>
        <ul class="header-description-contact">
			{
				userData.contact.map(contact => {
					if(contact.show){
						return(
							<li>
								<a target="_blank" href={contact.type==="email"?"mailto:":"" + contact.value}><Icon name={"mdi:" + contact.type}/></a>
							</li>
						)
					}
				})
			}
        </ul>
    </div>
</section>
<style>
	/* HEADER SECTION */
	.header{
		display: grid;
		grid-template-columns: 60% 40%;
		height: auto;
		width: 75%;
		margin: auto;
		margin-bottom: 100px;
	}
	.header-image{
		display: flex;
		overflow: hidden;
		align-items: flex-start;
        justify-content: center;
		padding: 0 50px 0 0;
	}
	.header-image > img{
		width: 75%;
	}
	.header-description{
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 15px;
        padding: 0 50px;
		border: double 5px var(--opacity);
		height: auto;
	}
	.header-description > h2{
		font-size: 50px;
		font-weight: 400;
		margin: 30px 10px;
		color: var(--darkTextTitle);
	}
	.header-description > p{
		font-size: 20px;
		color: var(--darkText);
		margin: 0 15px 30px 15px;
	}
	.header-description-contact{
		background-color: var(--boxDarkBackground);
		border-radius: 15px;
		display: flex;
		justify-content: space-around;
		padding: 30px 0;
	}
	[astro-icon]{
		color: var(--darkText);
		width: 35px;
	}
	
	/*MOBILE LAYOUT */
	@media screen and (max-width: 800px){
		.header{
			width: 100% !important;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: auto;
			border-radius: 0;
			margin: none;
		}

		.header-image{
			display: flex;
			overflow: hidden;
			align-items: flex-start;
			justify-content: center;
			background-color: var(--opacity);
			padding: 20px 20px 0 20px;
		}
		.header-image > img{
			width: 100%;
		}
		.header-description{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 20px;
		}
		.header-description p{
			text-align: center;
		}
        .header-description{
            padding: 0;
        }
        .header-image{
            display: block;
        }
		.header-description h2{
			font-size: 30px;
			text-align: center;
		}
		.header-description-contact{
			border-radius: 0px;
		}
	}

	/* TABLET LAYOURT */
	@media screen and (max-width: 1500px){
		.header-description h2{
			font-size: 30px;
		}
		.header-description p{
			font-size: 20px;
		}
	}
</style>