---
import { Icon } from "astro-icon";
import userData from '../../../public/User/userData.json';
---
<div class="content">
    <h2>Hola!</h2>
    <h3>Bienvenidos a mi blog personal, mi nombre es Ruddy Rodriguez y espero disfruten del contenido</h3>
    <ul class="contact">
        {
            userData.contact.map(contact => {
                if(contact.show){
                    return(
                        <li class="contact-options">
                            <a target="_blank" href={contact.type==="email"?"mailto:":"" + contact.value}><Icon name={"mdi:" + contact.type}/></a>
                            <p class="bubble" >{contact.description}</p>
                        </li>
                    )
                }
            })
        }
    </ul>

    <span class="box-1"></span>
    <span class="box-2"></span>
    <span class="box-3"></span>
    <span class="box-4"></span>
</div>
<style>

    [astro-icon]{
		color: var(--primary);
		width: 35px;
	}
    .bubble{
        margin-top: 10px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        width: 200px !important;
        left: calc(50% - 100px);
        display: none;
        height: auto;
        z-index: 1;
        box-shadow: 0px 4px 3px -2px var(--darkTextSubtitle);
    }

    .contact > li > a::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 10px solid white;
        right: calc(50% - 20px);
        display: none;
        bottom: -12px;
        z-index: 2;
    }

    .contact > li:hover  > a::after, .contact > li:hover .bubble{
        display: block;
    }
    .contact > li > a{
        position: relative;
    }

    .contact{
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 10px;
        max-width: 250px;
    }

    .content{
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 30px;
    }

    .content span{
        position: absolute;
        border: solid 2px var(--boxDarkBackground);
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }

    .box-1, .box-4{
        animation: rotation 4s infinite linear;
    }

    .box-3, .box-2{
        animation: rotation 4s infinite linear reverse;
    }

    .box-1{
        top: 25%;
        right: 25%;
    }

    .box-2{
        top: 25%;
        left: 25%;
    }

    .box-3{
        bottom: 25%;
        right: 25%;
    }

    .box-4{
        bottom: 25%;
        left: 25%;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    .content h2{
        font-size: 50px;
        color: var(--darkTextTitle);
        width: 4.5ch;
        animation: typing 500ms steps(4), blink .5s infinite step-end alternate;
        display: block;
        overflow: hidden;
        border-right: 2.5px solid;
        white-space: nowrap;
        font-weight: 600;
        text-align: center;
    }

    .content h3, .content p{
        width: 100%;
        color: var(--darkTextSubtitle);
        padding: 15px;
        text-align: center;
    }

    @keyframes typing{
        from { width: 0; }
    }

    @keyframes blink{
        50%{ border-color: transparent; }
    }

    .container{
        background-color: azure;
        height: 100%;
        width: auto;
        max-width: 300px;
        border-radius: 15px;
        padding: 50px 30px;
    }

    .title{
        font-size: 30px;
        margin-bottom: 15pxrun;
    }

    .description{
        color: var(--darkText);
    }

    @media screen and (max-width: 500px){

        .content h2{
            font-size: 30px;
        }

        .content p{
            font-size: 16px;
        }

        .content{
            height: calc(100vh - 75px);
        }
    }
</style>