---
import Layout from '../layouts/Layout.astro';
import CardProject from '../components/ProjectCard.astro';
import CardNote from '../components/NoteCard.astro';

---

<Layout title="Inicio" indexNavbar={0}>
	<main>
		
	</main>
</Layout>

<style>
	main{
		width: 100%;
		height: 100%;
	}
</style>
