---
import Layout from '../layouts/Layout.astro';
import CardProject from '../components/ProjectCard.astro';
import CardNote from '../components/NoteCard.astro';
import { Icon } from 'astro-icon'

---

<Layout title="Inicio" indexNavbar={0}>
	<main>
		<section class="header">
			<div class="header-image">
				<img src="../../public/User/userCover.jpeg">
			</div>
			<div class="header-description">
				<h2>Hola! mi nombre es <span>Carlos</span></h2>
				<p>soy ingeniera en sistemas, desarrollador web Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño</p>
				<ul class="header-description-contact">
					<li>
						<a href="#"><Icon width="35" name="mdi:email"/></a>
					</li>
					<li>
						<a href="#"><Icon width="35" name="mdi:github"/></a>
					</li>
					<li>
						<a href="#"><Icon width="35" name="mdi:linkedin"/></a>
					</li>
				</ul>
			</div>
		</section>

		<section class="section">
			<div class="section-header">
				<h2 class="title">Algunos Proyectos</h2>
			</div>
			<ul>
				<li>
					<CardProject
						title="projecto 1"
						description="hace demasiado tiempo que un lector se distraerá con el contenido del texto de un demasiado tiempo que un lector se distraerá con el contenido del texto de un"
						date="hace un mes"
						href="#"
					/>
				</li>
				<li>
					<CardProject
						title="projecto 1"
						description="hace demasiado tiempo que un lector se distraerá con el contenido del texto de un demasiado tiempo que un lector se distraerá con el contenido del texto de un"
						date="hace un mes"
						href="#"
					/>
				</li>
				<li>
					<CardProject
						title="projecto 1"
						description="hace demasiado tiempo que un lector se distraerá con el contenido del texto de un demasiado tiempo que un lector se distraerá con el contenido del texto de un"
						date="hace un mes"
						href="#"
					/>
				</li>
			</ul>
			<a class="buttonGetMore">ver mas</a>
		</section>

		<section>
			<div class="section-header">
				<h2 class="title">Mis notas</h2>
			</div>
			<ul>
				<li>
					<CardNote
						description="hace demasiado tiempo que un lector se distraerá con el contenido del texto de un demasiado tiempo que un lector se distraerá con el contenido del texto de un"
						date="hace un mes"
						href="#"
						author="yo"
						title="projecto 1"
					/>
				</li>
				<li>
					<CardNote
						title="projecto 1"
						description="hace demasiado tiempo que un lector se distraerá con el contenido del texto de un demasiado tiempo que un lector se distraerá con el contenido del texto de un"
						date="hace un mes"
						href="#"
						author="yo"
					/>
				</li>
				<li>
					<CardNote
						title="projecto 1"
						description="hace demasiado tiempo que un lector se distraerá con el contenido del texto de un demasiado tiempo que un lector se distraerá con el contenido del texto de un"
						date="hace un mes"
						href="#"
						author="yo"
					/>
				</li>
			</ul>
			<a class="buttonGetMore">ver mas</a>
		</section>
	</main>
</Layout>

<style>
	/* HEADER SECTION */
	.header{
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		border-bottom: 1px solid black;
		display: flex;
		margin: auto;
		height: auto;
	}

	.header-image{
		overflow: hidden;
	}
	.header-image > img{
		width: 100%;
	}

	.header-description{
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-width: 520px;
	}

	.header-description > h2{
		font-size: 50px;
		font-weight: 400;
		margin: 30px 10px;
	}

	.header-description > p{
		font-size: 20px;
		color: var(--secondary-text);
		margin: 0 15px 30px 15px;
	}
	.header-description-contact{
		background-color: var(--box-background);
		border-radius: 15px;
		display: flex;
		justify-content: space-around;
		padding: 30px 0;
	}

	[astro-icon]{
		color: var(--secondary-text);
	}

	/* NORMAL SECTION */

	.buttonGetMore{
		color: var(--secondary-text);
		background-color: var(--box-background);
		padding: 15px 60px;
		border-radius: 30px;
		font-size: 16px;
	}
	.buttonGetMore:hover{
		opacity: 0.5;
		cursor: pointer;
	}

	/*MOBILE LAYOUT */
	@media screen and (max-width: 800px){
		.header{
			flex-direction: column;
			align-items: center;
			height: calc(100vh - 50px);
		}

		.header-description h2{
			font-size: 40px;
			text-align: center;
		}

		.header-description p{
			text-align: center;
		}

	}

	/* TABLET LAYOURT */
	@media screen and (max-width: 1500px){
		.header-description h2{
			font-size: 40px;
		}
	}
</style>
