---
import Layout from '../layouts/Layout.astro';
import CardProject from '../components/ProjectCard.astro';

export const title = "Mis Proyectos";
export interface FrontmatterProjects {
	title: string;
    description: string;
    date: string;
    href: string;
}

const projects = await Astro.glob<FrontmatterProjects>('./Projects/*.mdx');
---

<Layout title="Proyectos">
	<main>
		<section class="section">
			<ul>
				{
					projects.map(project => (
						<li class="card">
							<CardProject
								title={project.frontmatter.title}
								description={project.frontmatter.description}
								date={project.frontmatter.date}
								href={project.url}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	/* SECTION */
	main{
        flex: auto;
    }
	section{
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 50px;
	}

	section div h2{
		width: auto;
		border-bottom: solid 1px var(--secondary-text);
		padding: 20px;
		text-align: center;
	}

	section ul{
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 60px;
		padding: 40px 0;
	}

	.card{
		max-width: 450px;
		margin: 15px;
	}

	.buttonGetMore{
		background-color: var(--box-background);
		padding: 10px 50px;
		border-radius: 20px;
	}
	.buttonGetMore:hover{
		opacity: 0.8;
		cursor: pointer;
	}
</style>
