---
import { dateFormat } from '../Utils/Utils';
export interface Props{
    title: string;
    description: string;
    date: string;
    href?: string;
}

const {href, title, description, date} = Astro.props;

---
<div class="projectCard">
    <a href={href}>
        <div class="projectCard-header">
            <h3>{title}</h3>
            <div class="projectCard-header-collaborators">
                <!-- <span></span> -->
                <span></span>
            </div>
        </div>
        <p>
            {description.substring(1, 100)}...
        </p>
        <div class="projectCard-footer">
            <span>{dateFormat(date)}</span>
        </div>
    </a>
</div>

<style>
    .projectCard{
        list-style: none;
        display: flex;
        align-items: center;
    }
    .projectCard-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px 10px 15px;
    }

    .projectCard-header-collaborators{
        display: flex;
        flex-direction: row-reverse;
    }
    .projectCard-header-collaborators > span{
        background-color: var(--primary);
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .projectCard-header-collaborators > span:nth-child(2n){
        background-color: #A84502;
    }
    .projectCard-header-collaborators > span:not(first-child){
        margin-left: -15px;
    }

    .projectCard-footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: rgba(0, 0, 0, 0.40);
        padding-top: 8px;
    }

    .projectCard a {
        text-decoration: none;
    }

    .projectCard h3{
        color: rgba(0, 0, 0, 0.80);
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .projectCard p {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 30px;
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.55);
        min-width: 100px;
    }
</style>