---
export interface Props{
    indexNavbar: number
}

const { indexNavbar } = Astro.props;
---
<nav class="rightBar">
    <ul>
        <li class={indexNavbar === 0? "active" : ""}>Acerca de mi</li>
        <li class={indexNavbar === 1? "active" : ""}>Proyectos</li>
        <li class={indexNavbar === 2? "active" : ""}>Blog</li>
    </ul>
</nav>
<style>
    @media screen and (max-width: 1000px){
		body{
			display: grid;
			grid-template-columns: auto 50px;
			grid-template-rows: 100px auto;
		}

		.time{
			display: none;
		}

		.buttonDownload{
			font-size: 12px;
			padding: 7px 12px;
		}

		.rightBar{
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			width: auto;
			margin: 0px 50px;
			background-color: var(--background-color);
			writing-mode: horizontal-tb;
			height: auto;
			margin-top: 100px;
		}
		.rightBar ul li{
			writing-mode: horizontal-tb;
		}

		.buttonMenu{
			display: flex;
		}
	}
</style>