---
import NavBar from '../components/NavBar.astro';

type Option = {
    label: string;
    url: string;
}
export interface Props {
	title: string;
}
const { title} = Astro.props;

const pages = [
	{
		label: 'Mis notas',
		url: '/notes'
	},
	{
		label: 'Proyectos',
		url: '/projects'
	}
]
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar options={pages} currentPageTitle={title}/>
		<div class="content">
			<slot/>
		</div>
		<footer>
			<p>Copyright © {new Date().getFullYear()} | Todos los derechos reservados.</p>
		</footer>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
	
	:root {
		--accent: 38, 222, 191;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(198, 108, 239)  30%, rgb(4, 4, 4) 60%);
		--background-color: #eee1d7;
		--secondary-color: #029FAA;

		--primary-text: rgba(255, 255, 255, 0.80);
		--primary-text__hover: rgba(255, 255, 255, 1);

		--secondary-text: rgba(0, 0, 0, 0.8);
		--secondary-text__hover: rgb(0, 0, 0);

		--primary: #457fca;
		--opacity: rgba(0, 0, 0, 0.2);

		--lightTextTitle: rgba(255, 255, 255, 0.80);
		--darkTextTitle: rgba(0, 0, 0, 0.80);

		--lightTextSubtitle: rgba(255, 255, 255, 0.40);
		--darkTextSubtitle: rgba(0, 0, 0, 0.40);

		--lightText: rgba(255, 255, 255, 0.60);
		--darkText: rgba(0, 0, 0, 0.60);

		--boxDarkBackground: rgba(0, 0, 0, 0.08);
		--boxLightBackground: rgba(255, 255, 255, 0.08);

		--maxWidthMobile: 390px;
	}
	*{
		box-sizing: border-box;
        margin: 0px;
		padding: 0px;
        text-decoration: none;
    }
	html {
		background-color: var(--background-color);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	h1, h2, h3, h4, p, a{
		font-family: 'Open Sans', sans-serif;
	}
	h3{
		font-size: 20px;
		font-weight: 400;
	}
	p{
		font-size: 16px;
	}
	ul{
		list-style: none;
	}
	li{
		margin: 0;
		padding: 0;
	}
	a{
		color: var(--secondary-text);
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	body{
		height: 100vh;

	}

</style>
<style>
	.content{
		margin: auto;
		width: 95%;
		min-height: calc(100vh - 80px);
		max-width: 1440px;
	}

	footer{
		background-color: var(--boxDarkBackground);
		padding: 40px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		color: var(--darkTextSubtitle);
	}

	/* MOBILE LAYOURT */
	@media screen and (max-width: 500px){
		footer{
			border-right: none;
			padding: 20px 0;
			font-size: 14px;
			border-radius: none;
			color: var(--darkTextSubtitle);
			text-align: center;
		}
	}
</style>
